body {
    font-family: "Open Sans", sans-serif;
    color: #444;
    margin-left: 0px;
    margin-right: 0px;
}

h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Roboto", sans-serif;
}

html { 
    scroll-behavior:smooth;
}

.ignielToTop {
    width:40px; 
    height:40px; 
    position:fixed; 
    bottom:40px; 
    right: 40px; 
    z-index:99; 
    cursor:pointer; 
    border-radius:100px; 
    transition: all .5s; 
    background:#008c5f url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}

.ignielToTop:hover {
    background:#1d2129 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}

.main {
    float:left;
    width:60%;
    padding:0 20px;
}

.container {
    padding-top: 8vh;
    padding:2em;
}

.container h1 {
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
}

.container-pesan{
    margin-left: 20px;
}

label {
    margin-bottom: 0px;
    font-weight: bold;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
    margin-left: 170px;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -8px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 10px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button-group {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}

#main {
    margin-top: 10px;
}

#box1 {
    height: 50px;
    width: 50vw;
    background: #1596d1c4;
    border-radius: 10px;
}

.list-status{
    margin-left: 20px;
}

.tambah-pesan{
    font-weight: 600;
    font-size: 40px;
}

.date-block{
    display:flex;
    justify-content: end;
    flex-direction: row;
    margin-top:5px;
    margin-bottom:10px;
}

.date-block p{
    color:rgba(128, 128, 128, 0.925);
}

.pesan-input{
    width:30vw;
    background-color: rgba(255,186,0,0.2);
    margin-top:15px;
    margin-bottom:15px;
    border:0px;
    padding:15px;
    border-radius:10px;
}

.ulasan-form{
    width:30vw;
}

.box-ulasan {
    font-size:1vw;
    height: max-content;
    width: 400px;
    background-color: rgba(0, 247, 255, 0.082);
    border-radius: 19px;
    padding: 15px 25px;
    margin:2em;
    box-shadow: 2px 6px 6px rgba(66, 65, 65, 0.103);
}

.box-ulasan h4 {
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
}

.box-ulasan p {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}

.button-ulasan{
    margin-left: auto;
}

.buyNowBtn {
    width:9em;
    height: 3em;
    font-weight: bold;
    box-shadow: 0 3px 7px rgba(100,100,100,.5);
}

.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    right: 15px;
    bottom: 15px;
    background: #68A4C4;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
}
  
.back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 8px;
    left: 8px;
}
  
.back-to-top:hover {
    color: #fff;
    background: #85b6cf;
    transition: background 0.2s ease-in-out;
}

.contact-me {
    margin-top: 30px;
}

.icon-bar {
    position: relative;
    text-align: center;
    top: 70px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar p {
    font-family: 'georgia';
    font-size: large;
    bottom: 3px;
}

.icon-bar a {
    display: inline-block;
    text-align: center;
    padding: 12px;
    width: 50px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}


.facebook {
    background: #3B5998;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.instagram {
    background: #f13232da;
    color: white;
}

.whatsapp {
    background: #18d26e;
    color: white;
}

.google {
    background: #e92525;
    color: white;
}

#footer {
    background: #0b212d;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

#footer .credits a {
    color: #a2cce3;
}

@media only screen and (max-width:500px){
    .main {
        padding:1em;
    }
    .container{
        padding:1em;
    }
    .pesan-input {
        width: 80vw;
    }
    .tambah-pesan {
        font-size: 18px;
    }
    .notes {
        font-size: 15px;
    }
    #box1 {
        width: 80vw;
        background: #1596d1c4;
    }
    .homepage-pesan{
        font-size: 25px!important;
    }
    .date-block{
        width:max-content;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box-ulasan h4{
        font-size: 5em;
    }
    .button {
        margin-left: 100px;
    }
}