{% extends 'base.html' %}

{% load static %}
{% block title %} Curhatin AJA {% endblock %}
{% block content %}
<main id="main">
    <div class="d-flex flex-row flex-wrap">
        <div id="box1">
            <p style="text-align: center;font-size: large;margin-top: 10px;"><b>Curhatin AJA</b></p>
        </div>
        <div class="container mt-2" style="background: aqua; margin-left:0px;">
            <h4>Curhat? & Butuh temen?<span style="color:#ffba00"> disini aja</span></h4>
        </div>
        <div class="container">
            {% if sign %}
                {% if sign == 'success' %}
                <div class="alert alert-success" role="alert" style="max-width: 70%">
                    Sukses menambahkan status ! , sekarang semua orang dapat melihat statusmu.
                </div>
                {% else %}
                <div class="alert alert-danger" role="alert" style="max-width: 70%">
                    Mohon lengkapi kolom pesan dan silahkan coba lagi !
                </div>
                {% endif %}
            {% endif %}
            <!-- Bagian tambah pesan -->
            <h2 class="tambah-pesan">Tambahkan <span style="color:#ffba00">Pesan/Status</span> Anda Disini</h2>
            <h5 class="notes">Notes : Jika nama dikosongi maka akan tertulis Anonymous</h5>
            <form class="ulasan-form d-flex flex-column" method="POST" action="{% url 'story7:story7-confirm' %}">
                {% csrf_token %}
                <input type="text" class="pesan-input" name="nama" id="nama" placeholder='Masukkan nama anda (boleh kosong)'>
                <textarea type="text" class="pesan-input" name="isi" id="isi" placeholder='Tuliskan pesan/status yang ingin anda ungkapkan'></textarea>
                <button type="submit" id="submit" class=" button-ulasan buyNowBtn btn btn-warning">Add Status</button>
            </form>
        </div>
        <!-- Bagian Pesan -->
        <div class="container" style="border: 1px solid rgba(0, 0, 0, 0.212); box-sizing: border-box; width: 100vw;">
            <h1 class="homepage-pesan">Pesan</h1>
            <div class="d-flex flex-wrap">
            {% for pesan in status %}
                <div class="box-ulasan" name="history-pesan" id="history-pesan" style="background-color: {{pesan.warna.kode_warna}};">
                    <div class="date-block">
                        <p>{{pesan.tanggal_dibuat}}</p>
                    </div>
                    <h4>{{pesan.nama}}</h4>
                    <p>{{pesan.pesan}}</p>
                    <a href="/ubahwarna/{{pesan.id}}">
                        <button class="button" name="change-color" type="submit" id="change-color" style="vertical-align:middle"><span>Change Color</span></button>
                    </a>  
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>    
    <div class="container mt-4 contact-me">
        <div class="icon-bar">
            <p><b>Contact me</b></p>
            <p>
                <a href="https://m.facebook.com/suwandi.kurniawan.904?ref=bookmarks/" class="facebook"><i class="fa fa-facebook"></i></a>  
                <a href="https://www.instagram.com/suwandi_k89/" class="instagram"><i class="fa fa-instagram"></i></a> 
                <a href="https://api.whatsapp.com/send?phone=8197757988&text=Hi,%20Saya%20Suwandi%20Kurniawan,%20senang%20dapat%20berkenalan%20dengan%20kalian..." class="whatsapp"><i class="fa fa-whatsapp"></i></a>
            </p>
            <p>
                <a href="https://drive.google.com/open?id=1E2vl5WJl3gEzOE2OM22ovRtK599Nf8c_" class="google"><i class="fa fa-google"></i></a> 
                <a href="https://www.linkedin.com/in/suwandi-kurniawan-b05827150/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UC6MyCZGwQusU8qUSYRQCb4g/" class="youtube"><i class="fa fa-youtube"></i></a> 
            </p>
        </div>  
    </div> 
</main>
{% endblock %}
