{% extends 'base.html' %}

{% load static %}
{% block title %} Curhatin AJA - Confirm {% endblock %}
{% block content %}
<main id="main">
    <div class="d-flex flex-row flex-wrap">
        <div id="box1">
            <p style="text-align: center;font-size: large;margin-top: 10px;"><b>Curhatin AJA</b></p>
        </div>
        <div class="container mt-2" style="background: aqua; margin-left:0px;">
            <h4>Curhat? & Butuh temen?<span style="color:#ffba00"> disini aja</span></h4>
        </div>
        <div class="container">
            <form action="{% url 'story7:story7-home' %}" method="POST" class="ulasan-form d-flex flex-column">
                {% csrf_token %}
                <label for="id_name">Nama: </label>
                <input type="text" name="nama" class="pesan-input" value="{{ nama }}" readonly>
                <label for="id_status">Status: </label>
                <textarea name="isi" class="pesan-input"readonly>{{ pesan }}</textarea>
                <div class="button-group">
                    <a href="/"><button type="button" class="btn btn-secondary">Back</button></a>
                    <input type="hidden" id="confirm" name="action" value="confirm">
                    <input type="submit" id="confirm" class="btn btn-primary" value="Confirm"> 
                </div>
            </form>
        </div>
    </div>
    <div class="container mt-4 contact-me">
        <div class="icon-bar">
            <p><b>Contact me</b></p>
            <p>
                <a href="https://m.facebook.com/suwandi.kurniawan.904?ref=bookmarks/" class="facebook"><i class="fa fa-facebook"></i></a>  
                <a href="https://www.instagram.com/suwandi_k89/" class="instagram"><i class="fa fa-instagram"></i></a> 
                <a href="https://api.whatsapp.com/send?phone=8197757988&text=Hi,%20Saya%20Suwandi%20Kurniawan,%20senang%20dapat%20berkenalan%20dengan%20kalian..." class="whatsapp"><i class="fa fa-whatsapp"></i></a>
            </p>
            <p>
                <a href="https://drive.google.com/open?id=1E2vl5WJl3gEzOE2OM22ovRtK599Nf8c_" class="google"><i class="fa fa-google"></i></a> 
                <a href="https://www.linkedin.com/in/suwandi-kurniawan-b05827150/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UC6MyCZGwQusU8qUSYRQCb4g/" class="youtube"><i class="fa fa-youtube"></i></a> 
            </p>
        </div>  
    </div> 
</main>
{% endblock %}
